body {
  width: 100%;
  margin: 0 auto;
}

div {
    width: 500px;
    height: 650px;
    border: 2px solid black;
    margin: 3px;
    float: left;
}

p {
  background: aqua;
  border: 3px solid blue;
  padding: 10px;
  margin: 10px;
}

span {
  display: inline; /*可以不加，默认添加*/
  background: red;
  border: 1px solid black;
}

/*默认静态定位*/
.positioned {
    position: static;
    background-color: yellow;
}
/*相对定位*/
.positioned-relative {
    position: relative;
    background-color: yellow;
    top: 30px;
    bottom: 30px;
    left: 30px;
}

/*绝对定位positioned-absolute*/
.positioned-absolute {
    position: absolute;
    right: 30px;
    background-color: yellow;
}

/*绝对定位fixed*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

/*z-index*/
.z-index {
    position: absolute;
    right: 30px;
    z-index: 1;
}